@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html{
    background: #2B2A4C;
    height: 100%;
    overflow:hidden;
}

body{
    margin: 0;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 0.5fr repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
    /* .div1 { grid-area: 1 / 1 / 2 / 3; }
    .div2 { grid-area: 2 / 2 / 6 / 3; }
    .div3 { grid-area: 2 / 1 / 6 / 2; } */

.bar{
    grid-area: 1 / 1 / 2 / 3;
    background: #181828;
    padding: 10px;
    height: 100%;
    font-family: 'Lato', sans-serif;
    color: cornflowerblue;
    grid-column-start: 2;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

#close{
    float: right;
    border: none;
    scale: 200%;
    background: none;
    color: wheat;
    transition-duration: 1s;
    -webkit-user-select: none;
    -webkit-app-region: none;
}

#close:hover{
    background-color: red;
    color: black;
}

.spinner{
    position: fixed;
    color: aliceblue;
    scale: 400%;
    left: 50vw;
    top: 50%;
}

#checkADB{
    background-color: blueviolet;
    border: none;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    position: fixed;
    left: 18%;
    top: 70%;
    transition-duration: 0.5s;
}

#checkADB:hover{
    scale: 110%;
}

.div2 { grid-area: 2 / 2 / 6 / 3; }
.div3 { grid-area: 2 / 1 / 6 / 2; }